.vscode/**
.vscode-test/**
.tmp/**
.github/workflows/**
dist/**
*.zip
src/**
out/test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
