.vscode/**
.vscode-test/**
.tmp/**
.github/**
dist/**
*.zip
src/**
out/test/**
browser-extension/**
docs/**
scripts/**
AGENTS.md
UI-FOUNDATION-DESIGN-GUIDE.md
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*